table 
    thead
        tr
            th ID
            th First Name
            th Last name
            th Email
        each item in items
            tr
                td=item.id
                td=item.firstname
                td=item.lastname
                td=item.email
<div>
<a href="/another_data">anotehr data</a>
</div>
<div>
<a href="/send_email">Send email</a>
</div>